.ProductImage img{
  max-width: 100%;
}

.ProductImage {
  position: relative;
  min-height: 400px;
}

.ProductImage:after {
  background-color: #fff;
  background-image: url("./gif-load.gif");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .5s;
  z-index: 1;
}

.ProductImage--loading:after {
  opacity: 1;
}
